<!-- Main Advertiser template -->
<template name="advertiserDash">

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			{{> advertiserDashContainer}}
		</div>
		<div class="col-md-1"></div>
	</div>

</template>

<!-- Container for Advertiser Dash -->
<template name="advertiserDashContainer">

	<div class="advertiser-container">
		<div class="title text-center">
			<h2>Advertiser Dashboard</h2>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default profit-panel">
					<div class="panel-body">
						<!--profit goes here.-->
						<h4>Overall Cost: $37.50</h4>
					</div>
				</div>
			</div>
		</div>

<!-- Websites -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading website-panel">
						<h3 class="panel-title">Websites:</h3>
					</div>
					<div class="panel-body webInfo">
						<!-- Website listing goes here -->
						{{> website}}
					</div>
				</div>
			</div>
		</div>

<!-- Current EyeCatcha -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading website-panel">
						<h3 class="panel-title">Current Test:</h3>
					</div>
					<div class="panel-body webInfo">
						<!-- Current EyeCaptcha info goes here -->
						{{> current}}
					</div>
				</div>
			</div>
		</div>

<!-- Add New Images by Company -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading website-panel">
						<h3 class="panel-title">Add Images for Company:</h3>
					</div>
					<div class="panel-body webInfo">
						<!-- Here you can add new EyeCaptcha test -->
						{{> addNewImages}}
					</div>
				</div>
			</div>
		</div>

<!-- Add New Tests -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading website-panel">
						<h3 class="panel-title">Add New Test:</h3>
					</div>
					<div class="panel-body webInfo">
						<!-- Here you can add new EyeCaptcha test -->
						{{> addNewTest}}
					</div>
				</div>
			</div>
		</div>

<!-- Keywords -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading website-panel">
						<h3 class="panel-title">Keywords:</h3>
					</div>
					<div class="panel-body">
						<!-- Keywords go here -->
						<textarea class="form-control" rows="2" placeholder="Soda, soft drink, refreshing"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class="col-md-12 advertiser-buttons lineup" id="keywordSubmit">
				<button type="button" class="btn btn-primary keywordsUpdate">Save</button>
			</div>
		</div>
	</div>

</template>

<!-- Website template -->
<template name="website">

	{{#each websites}}
		<div class="row">
			<div class="col-md-12">
				<h5 class="adName title">{{name}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 lineup">
				Attempts:
			</div>
			<div class="col-md-2 lineup">
				Solved:
			</div>
			<div class="col-md-2 lineup">
				Failed:
			</div>
			<div class="col-md-2 lineup">
				Success:
			</div>
			<div class="col-md-2 lineup">
				Cost:
			</div>
			<div class="col-md-2 lineup">
				Content:
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 lineup">
				{{attempts}}
			</div>
			<div class="col-md-2 lineup">
				{{solved}}
			</div>
			<div class="col-md-2 lineup">
				{{failed}}
			</div>
			<div class="col-md-2 lineup">
				{{success}}%
			</div>
			<div class="col-md-2 lineup">
				{{cost}}
			</div>
			<div class="col-md-2 lineup">
				{{keywords}}
			</div>
		</div>
	{{/each}}

</template>

<!-- Current EyeCaptcha template -->
<template name="current">

	<div class="row">
		<div class="col-md-3">
			<h5>Company:</h5>
		</div>
		<div class="col-md-9">
			<select id="currentCompany" class="dropDown">
				<option value="---">---</option>
				<option value="Bouqs">Bouqs</option>
				<option value="Coca-Cola">Coca-Cola</option>
				<option value="Nike">Nike</option>
				<option value="North Face">North Face</option>
				<option value="Patagonia">Patagonia</option>
				<option value="Snickers">Snickers</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			Prompt:
		</div>
		<div class="col-md-9">
			<p id="currentPrompt"></p>
		</div>
	</div>
	<div class="row">
			<div class="col-md-3">
				<h5>Images:</h5>
			</div>
			<div class="col-md-9">
				{{> current1}}
				{{> current2}}
				{{> current3}}
				{{> current4}}
				{{> current5}}
				{{> current6}}
				{{> current7}}
				{{> current8}}
				{{> current9}}
				{{> current10}}
			</div>
		</div>

</template>

<!-- Add New IMAGES template-->
<template name="addNewImages">

	<form class="imgUploadForm">
		<div class="row">
			<div class="col-md-3">
				<h5>Company:</h5>
			</div>
			<div class="col-md-9">
				<select id="companyName" class="dropDown">
					<option value="Bouqs">Bouqs</option>
					<option value="Coca-Cola">Coca-Cola</option>
					<option value="Nike">Nike</option>
					<option value="North Face">North Face</option>
					<option value="Patagonia">Patagonia</option>
					<option value="Snickers">Snickers</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h5>Select Image:</h5>
			</div>
			<div class="col-md-9">
				<div class="input-group">
					<input type="file" class="form-control testSubmit" id="imgUpload" name="companyImage" placeholder="Select Images..." multiple>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class="col-md-12 advertiser-buttons lineup">
				<button type="button" class="btn btn-primary newImageSubmit">Save</button>
			</div>
		</div>
	</form>

</template>

<!-- Add New Test template-->
<template name="addNewTest">

	<form class="testUploadForm">
		<div class="row">
			<div class="col-md-3">
				<h5>Company:</h5>
			</div>
			<div class="col-md-9">
				<select id="compName" class="dropDown">
					<option value="---">---</option>
					<option value="Bouqs">Bouqs</option>
					<option value="Coca-Cola">Coca-Cola</option>
					<option value="Nike">Nike</option>
					<option value="North Face">North Face</option>
					<option value="Patagonia">Patagonia</option>
					<option value="Snickers">Snickers</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h5>Enter Prompt:</h5>
			</div>
			<div class="col-md-9">
				<input type="text" class="form-control" name="prompt" id="testPrompt" placeholder="Enter Prompt...">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h5>Select Image:</h5>
			</div>
			<div class="col-md-9">
				{{> img1}}
				{{> img2}}
				{{> img3}}
				{{> img4}}
				{{> img5}}
				{{> img6}}
				{{> img7}}
				{{> img8}}
				{{> img9}}
				{{> img10}}
			</div>
		</div>
		<div class = "row">
			<div class="col-md-12 advertiser-buttons lineup">
				<button type="button" class="btn btn-primary newTestSubmit">Save</button>
			</div>
		</div>
	</form>

</template>

<template name="img1">
  <img class="imgs" id="imgid1" src="">
</template>

<template name="img2">
	<img class="imgs" id="imgid2" src="">
</template>

<template name="img3">
	<img class="imgs" id="imgid3" src="">
</template>

<template name="img4">
	<img class="imgs" id="imgid4" src="">
</template>

<template name="img5">
	<img class="imgs" id="imgid5" src="">
</template>

<template name="img6">
	<img class="imgs" id="imgid6" src="">
</template>

<template name="img7">
	<img class="imgs" id="imgid7" src="">
</template>

<template name="img8">
	<img class="imgs" id="imgid8" src="">
</template>

<template name="img9">
	<img class="imgs" id="imgid9" src="">
</template>

<template name="img10">
	<img class="imgs" id="imgid10" src="">
</template>


<template name="current1">
  <img class="imgs" id="currentid1" src="">
</template>

<template name="current2">
	<img class="imgs" id="currentid2" src="">
</template>

<template name="current3">
	<img class="imgs" id="currentid3" src="">
</template>

<template name="current4">
	<img class="imgs" id="currentid4" src="">
</template>

<template name="current5">
	<img class="imgs" id="currentid5" src="">
</template>

<template name="current6">
	<img class="imgs" id="currentid6" src="">
</template>

<template name="current7">
	<img class="imgs" id="currentid7" src="">
</template>

<template name="current8">
	<img class="imgs" id="currentid8" src="">
</template>

<template name="current9">
	<img class="imgs" id="currentid9" src="">
</template>

<template name="current10">
	<img class="imgs" id="currentid10" src="">
</template>
