<template name="eyecaptcha">

  <div class="row">
    <div class="col-md-3"></div>
		    <div class="col-md-6">
        	{{> eyecaptchaContainer}}
      	</div>
    <div class="col-md-3"></div>
  </div>

</template>


<template name="eyecaptchaContainer">

  <div class="eyecaptcha-container text-center">

  	<div class="title">
  		<h2>EyeCaptcha Test</h2>
  	</div>

    <div class="row">
      <div class="col-md-12 prompt">{{> adPrompt}}</div>
    </div>

  	<div class="row">
      <div class="col-md-1"></div>
  		<div class="col-md-10">
  	     {{> img11}}
         {{> img12}}
	       {{> img21}}
  		</div>
      <div class="col-md-1"></div>
  	</div>
  	<div class="row">
      <div class="col-md-1"></div>
  		<div class="col-md-10">
         {{> img22}}
	       {{> img31}}
         {{> img32}}
  		</div>
      <div class="col-md-1"></div>
  	</div>

  	<div class="row eyecaptcha-buttons">
  		<div class="col-md-4">
        <button type="button" class="btn btn-primary generate" id="generateTest">Generate</button>
      </div>
      <div class="col-md-4"></div>
  		<div class="col-md-4">
  			<button type="button" class="btn btn-primary submit" id="submitTest">Submit</button>
  		</div>
  	</div>

  </div>

</template>


<template name="adPrompt">
  <p id="promptBox">Please click Generate to create a new EyeCaptcha Test.</p>
</template>


<template name="img11">
  <button type="button" id="button1" class="img-button"><img class="images" id="imageid1" src="icons/EyeCaptchaNavSquare.png"></button>
</template>

<template name="img12">
  <button type="button" id="button2" class="img-button"><img class="images" id="imageid2" src="icons/EyeCaptchaNavSquare.png"></button>
</template>

<template name="img21">
  <button type="button" id="button3" class="img-button"><img class="images" id="imageid3" src="icons/EyeCaptchaNavSquare.png"></button>
</template>

<template name="img22">
  <button type="button" id="button4" class="img-button"><img class="images" id="imageid4" src="icons/EyeCaptchaNavSquare.png"></button>
</template>

<template name="img31">
  <button type="button" id="button5" class="img-button"><img class="images" id="imageid5" src="icons/EyeCaptchaNavSquare.png"></button>
</template>

<template name="img32">
  <button type="button" id="button6" class="img-button"><img class="images" id="imageid6" src="icons/EyeCaptchaNavSquare.png"></button>
</template>
