<template name="free">

  <div class="row">
    <div class="col-md-3"></div>
		    <div class="col-md-6">
        	{{> freeContainer}}
      	</div>
    <div class="col-md-3"></div>
  </div>

</template>


<template name="freeContainer">

  <div class="free-container text-center">

  	<div class="title">
  		<h2>Free Image Upload</h2>
  	</div>

    <div class="row free-img">
      <div class="col-md-3">
    	   <h5>Select Images:</h5>
      </div>
      <div class="col-md-9">
        <form class="free-img-upload">
          <input type="file" class="form-control" id="freeUpload" placeholder="Select Images..." multiple>
        </form>
      </div>
    </div>

    <div class="row free-submit">
      <div class="col-md-offset-8 col-md-4">
        <button type="button" class="btn btn-primary submit" id="submitFree">Submit</button>
      </div>
    </div>

  </div>

</template>
