<body>
  <div class="container-fluid">

    <div class="row text-center login-head">
      <div class="col-md-4"></div>
      <div class="col-md-4 logo">
        <img src="icons/EyeCaptcha.png">
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {{> login}}
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
</body>

<template name="login">
  <div class="login-container text-center">
    <div class="row login">
      <h2>Login to EyeCaptcha</h2>
    </div>
    <div class="row login-user">
        <p><input type="text" name="login" placeholder="Username or Email"></p>
    </div>
    <div class="row login-pass">
        <p><input type="password" name="password" placeholder="Password"></p>
    </div>
    <div class="row login-buttons">
        <input type="button" name="commit" value="Signup">
        <input type="submit" name="commit" value="Login">
    </div>

    <div class="row login-help">
      <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
    </div>
  </div>
</template>
