<template name="login">

    <div class="row text-center login-head">
      <div class="col-md-4"></div>
      <div class="col-md-4 logo">
        <img src="icons/EyeCaptcha.png">
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {{> loginForm}}
      </div>
      <div class="col-md-3"></div>
    </div>

</template>


<template name="loginForm">

  <div class="login-container text-center">
    <div class="row login">
      <h2>EyeCaptcha</h2>
    </div>

  <form class="user-login">
    <div class="row login-email">
        <p><input type="email" name="email" placeholder="Email Address"></p>
    </div>
    <div class="row login-pass">
        <p><input type="password" name="password" placeholder="Password"></p>
    </div>
    <div class="row login-buttons">
      <div class="col-md-2">
        <a href="/register"><input type="button" name="signup" value="Signup" href="/register"></a>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-2">
        <input type="submit" name="login" value="Login">
      </div>
      <div class="col-md-2"></div>
    </div>
  </form>

    <div class="row login-help">
      <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
    </div>
  </div>

</template>
