<!-- Main Login template -->
<template name="login">
	<div class="row text-center login-head">
		<div class="col-md-4"></div>
		<div class="col-md-4 logo">
			<img src="icons/EyeCaptcha.png">
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			{{> userLogin}}
		</div>
		<div class="col-md-3"></div>
	</div>
</template>

<!-- User login template -->
<template name="userLogin">
	<div class="login-container text-center">
		<div class="row login">
			<h2>EyeCaptcha Login</h2>
		</div>
		<form class="userLogin">
			<div class="row login-user">
				<p><input type="email" name="email" placeholder="Email"></p>
			</div>
			<div class="row login-pass">
				<p><input type="password" name="password" placeholder="Password"></p>
			</div>
			<div class="row login-buttons">
				<div class="col-md-3">
					<!-- <a href="/register">Register</a> -->
				</div>
				<div class="col-md-5"></div>
				<div class="col-md-2">
					<input type="submit" name="userLogin" class="btn btn-primary" value="Login">
				</div>
				<div class="col-md-2"></div>
			</div>
		</form>

	</div>
</template>
