<template name="reset">

    <div class="row text-center login-head">
      <div class="col-md-4"></div>
      <div class="col-md-4 logo">
        <img src="icons/EyeCaptcha.png">
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {{> ForgotPassword}}
      </div>
      <div class="col-md-3"></div>
    </div>

</template>


<template name="ForgotPassword">

<div class="login-container text-center">
    <div class="row login">
      <h2>Forgot Password</h2>
    </div>

  <form id="forgotPasswordForm" action="/forgot" method="post">
    <div class="row userEmail">
        <p><input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address"></p>
    </div>
    <div class="row pass-buttons">
      <div class="col-md-8"></div>
      <div class="col-md-2"><input type="submit" name="send" class="btn btn-submit btn-primary" value="Send"></div>
      <div class="col-md-2"></div>
    </div>
  </form>


  <div class="row register-return">
    <p><a href="/">Click here to return to the login screen</a></p>
  </div>
</div>


</template>

<template name="ResetPassword">

    {{#if resetPassword}}
    <form action="/reset-password"  id="resetPasswordForm" method="post">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
        <input class="btn-submit" type="submit" value="Reset">
    </form>
    <!-- end #reset-password-form -->
    {{/if}}

</template>
