<template name="webmasterDash">
	<h4>Webmaster Dash</h4>
  <div class="row">
    <div class="col-md-3"><h4>Profit:</h4></div>
    <div class="col-md-9"></div>
  </div>
  <div class="row">
    <div class="col-md-3">
	<h4>Advertisers:</h4>
    </div>
    <div class="col-md-9"></div>
  </div>
  <div class="row">
	<div class="col-md-4">
		<h4>Advertiser 1</h4>
		
	</div>
  </div>
<div class="row">
			<div class="col-md-4">
				Solved: 100
			</div>
			<div class="col-md-4">
				Paying: $25.00
			</div>
			<div class="col-md-4">
				Content: Coca Cola
			</div>
</div>
  <div class="row">
	<div class="col-md-4">
		<h4>Advertiser 2</h4>
		
	</div>
  </div>
<div class="row">
			<div class="col-md-4">
				Solved: 5
			</div>
			<div class="col-md-4">
				Paying: $1.25
			</div>
			<div class="col-md-4">
				Content: Pest Control
			</div>
</div>
  <div class="row">
	<div class="col-md-4">
		<h4>Advertiser 3</h4>
		
	</div>
  </div>
<div class="row">
			<div class="col-md-4">
				Solved: 14
			</div>
			<div class="col-md-4">
				Paying: $3.50
			</div>
			<div class="col-md-4">
				Content: Chips
			</div>
</div>
<br>
<div class="row">
	<div class="col-md-4"><h4>Keywords: </h4></div>
	<div class="col-md-8">
		<textarea class="form-control" rows="3"></textarea>
	</div>
</div>
</template>
