<!-- Main Webmaster template -->
<template name="webmasterDash">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			{{> webmasterDashContainer}}
		</div>
		<div class="col-md-1"></div>
	</div>
</template>

<!-- Webmaster Dash container template -->
<template name="webmasterDashContainer">
	<div class="webmaster-container">
		<div class="title text-center">
			<h2>Webmaster Dashboard</h2>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default profit-panel">
					<div class="panel-body">
						<!--profit goes here.-->
						<h4>Overall Profit: $12.00</h4>
					</div>
				</div>
			</div>
		</div>
<!--Advertisers-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading advertisers-panel">
						<h3 class="panel-title">Advertisers:</h3>
					</div>
					<div class="panel-body adInfo">
						{{> advertiser}}
					</div>
				</div>
			</div>
		</div>
	
<!-- Keywords -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading advertisers-panel">
						<h3 class="panel-title">Keywords:</h3>
					</div>
					<div class="panel-body">
						<textarea class="form-control" rows="2" placeholder="Security, anti-bot, protection, profit, advertisement"></textarea>
					</div>
				</div>
			</div>
		</div>

<!-- Save -->
		<div class = "row">
			<div class="col-md-12 webmaster-buttons">
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
		<br>
	</div>
</template>

<!-- Advertiser template -->
<template name="advertiser">
	{{#each advertisers}}
		<div class="row">
			<div class="col-md-12">
				<h5 class="adName title">{{name}}</h5>
			</div>
		</div>
<div class="row">
			<div class="col-md-2 lineup">
				Attempts:
			</div>
			<div class="col-md-2 lineup">
				Solved:
			</div>
			<div class="col-md-2 lineup">
				Failed:
			</div>
			<div class="col-md-2 lineup">
				Success:
			</div>
			<div class="col-md-2 lineup">
				Paying:
			</div>
			<div class="col-md-2 lineup">
				Content:
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 lineup">
				{{attempts}}
			</div>
			<div class="col-md-2 lineup">
				{{solved}}
			</div>
			<div class="col-md-2 lineup">
				{{failed}}
			</div>
			<div class="col-md-2 lineup">
				{{success}}%
			</div>
			<div class="col-md-2 lineup">
				{{cost}}
			</div>
			<div class="col-md-2 lineup">
				{{keywords}}
			</div>
		</div>
	{{/each}}
</template>
