/* Webmaster Dashboard CSS */

.webmaster-container {
  margin: 0px auto 200px auto;
  background: white;
  border-radius: 6px;
  width: 370px;
  border: 10px solid #B71C1C;
  box-shadow: 2px 2px 2px #801414;
}

.webmaster-container > .row {
  margin: 0px 0px;
}

.webmaster-buttons input {
  background: #2979FF;
  background-image: -webkit-linear-gradient(top, #2979FF, #2962FF);
  background-image: -moz-linear-gradient(top, #2979FF, #2962FF);
  background-image: -ms-linear-gradient(top, #2979FF, #2962FF);
  background-image: -o-linear-gradient(top, #2979FF, #2962FF);
  background-image: linear-gradient(to bottom, #2979FF, #2962FF);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 80px;
}

.webmaster-buttons input:hover {
  background: #2962FF;
  background-image: -webkit-linear-gradient(top, #2962FF, #2979FF);
  background-image: -moz-linear-gradient(top, #2962FF, #2979FF);
  background-image: -ms-linear-gradient(top, #2962FF, #2979FF);
  background-image: -o-linear-gradient(top, #2962FF, #2979FF);
  background-image: linear-gradient(to bottom, #2962FF, #2979FF);
  text-decoration: none;
}
