/* Webmaster Dashboard CSS */

.webmaster-container {
  margin: 0px auto 200px auto;
  background: white;
  border-radius: 6px;
  width: 650px;
  border: 10px solid #B71C1C;
  box-shadow: 2px 2px 2px #801414;
}

.webmaster-container > .row {
  margin: 0px 0px;
}

.webmaster-container h4 {
  font-style: bold;
}

.title {
  border-bottom: 1px solid #CCC;
}

.title h2 {
  color: #4d4d4d;
  font-size: 18px;
  margin: 15px 0px 10px 0px;
}


.webmaster-buttons button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 80px;
}

.webmaster-buttons button:hover {
  text-decoration: none;
}

.adName {
  font-size: 16px;
}
