<template name="nav">
  <nav class="nav-container">

    <div class="nav-wrap">
      <div class="nav-left">
        {{> navBrand}}
      </div>

      <div class="nav-right">
        {{> navItems}}
      </div>
      <div class="spacer" style="clear: both;"></div>
    </div>

  </nav>
</template>

<template name="navBrand">
  <a href="/test"><img src="icons/EyeCaptchaNav.png" alt="EyeCaptcha Logo">EyeCaptcha</a>
</template>

<template name="navItems">
  <ul>
    <li><a href="/webmaster">Webmaster Dashboard</a></li>
    <li><a href="/advertiser">Advertiser Dashboard</a></li>
    <li><a href="/test">EyeCaptcha Test</a></li>
    <a class="btn btn-primary logout" href="#">Logout</a>
  </ul>
</template>
